.App {
  text-align: center;
}
.homepadding {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
}
.homepadding11 {
padding-left: 5%;
padding-top: 2%;
padding-bottom: 4%;
padding-right: 5%;

}
.homepadding1 {
  padding-top: 20px;
}
.homepadding2 {
  padding-left: 5%;
  padding-right: 5%;
}
.homeoffer1img {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}




a {
  color: inherit;
  text-decoration: none;
}








